.y-container {
  background-color: #fff;
  min-width: 1020px;
}

.y-container_content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.arrange {
  display: table;
  min-width: 100%;
  table-layout: auto;
}

.arrange_unit {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}

.arrange--30 {
  margin-left: -30px;
  margin-right: -30px;
  border-collapse: separate;
  border-spacing: 30px 0;
}

.arrange--wrap {
  display: block;
  font-size: 0;
  line-height: 1;
  text-align: left;
}

.arrange--wrap.arrange--30 {
  margin-top: -30px;
}

.arrange--wrap > .arrange_unit {
  display: inline-block;
  zoom: 1;
  width: auto;
  font-size: 14px;
  line-height: 1.28571em;
}

.arrange--wrap.arrange--30 > .arrange_unit {
  margin-top: 30px;
}

.arrange--30 > .arrange_unit {
  margin-left: 15px;
  margin-right: 15px;
}

.arrange--30 > .arrange_unit, .ie .arrange--30.arrange--equal {
  border-collapse: collapse;
  border-spacing: 0 0;
}

.arrange--30.arrange--equal, .arrange--30.arrange--wrap {
  margin-left: -15px;
  margin-right: -15px;
}

.arrange--30.arrange--wrap > .arrange_unit, .ie .arrange--30.arrange--equal > .arrange_unit {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.arrange--6 {
  margin-left: -6px;
  margin-right: -6px;
  border-collapse: separate;
  border-spacing: 6px 0;
}

.arrange--6.arrange--equal, .arrange--6.arrange--wrap {
  margin-left: -3px;
  margin-right: -3px;
}

.arrange--wrap.arrange--6 {
  margin-top: -6px;
}

.arrange--6 > .arrange_unit, .ie .arrange--6.arrange--equal {
  border-collapse: collapse;
  border-spacing: 0 0;
}

.arrange--wrap.arrange--6 > .arrange_unit {
  margin-top: 6px;
}

.arrange--6.arrange--wrap > .arrange_unit, .ie .arrange--6.arrange--equal > .arrange_unit {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3px;
  padding-right: 3px;
}

.arrange--equal {
  display: flex;
}

.arrange--equal > .arrange_unit {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: block;
}

.arrange--3-units > .arrange_unit {
  width: 33.33333%;
}

.main-footer_item.arrange_unit {
  float: none;
}

.arrange--12 > .arrange_unit {
  margin-left: 6px;
  margin-right: 6px;
}

.arrange--12 > .arrange_unit, .ie .arrange--12.arrange--equal {
  border-collapse: collapse;
  border-spacing: 0 0;
}

.arrange--12 {
  margin-left: -12px;
  margin-right: -12px;
  border-collapse: separate;
  border-spacing: 12px 0;
}

.arrange--18 {
  margin-left: -18px;
  margin-right: -18px;
  border-collapse: separate;
  border-spacing: 18px 0;
}

.arrange--18 > .arrange_unit, .ie .arrange--18.arrange--equal {
  border-collapse: collapse;
  border-spacing: 0 0;
}

.arrange--18 > .arrange_unit {
  margin-left: 9px;
  margin-right: 9px;
}

.arrange--2-units > .arrange_unit {
  width: 50%;
}

.arrange_unit--fill {
  width: 100%;
}

.u-space-t1 {
  margin-top: 6px !important;
}

.u-space-b1 {
  margin-bottom: 6px !important;
}

.u-space-t3 {
  margin-top: 18px!important;
}

.u-space-b3 {
  margin-bottom: 18px!important;
}

.u-space-b4 {
  margin-bottom: 24px!important;
}

.u-space-b5 {
  margin-bottom: 30px!important;
}

.u-text-centered {
  text-align: center!important;
}

.homepage-hero_inner {
  padding-top: 80px;
}

.home-container_section {
  padding-top: 42px;
}

.home-container--first-top-short .home-container_section:first-child {
  padding-top: 36px;
}

.home-container_section:last-child {
  padding-bottom: 72px;
}

.home-container_section:first-child {
  padding-top: 72px;
}

.home-container_section--top-long {
  padding-top: 72px;
}

.homepage-hero_photo-owner, .homepage-hero_photo-owner-link {
  color: #fff;
}

.u-size-full {
  width: 100%!important;
  box-sizing: border-box!important;
}

.business-link-hovercard--strong .biz-name {
  font-weight: 700;
}

.card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #fff;
}

.card_content {
  padding: 12px 12px 0;
  position: relative;
}

.card_content-title--linked {
  color: #0073bb;
}

.business-link-hovercard--inline {
  display: inline;
}

.homepage-hero .business-link-hovercard_business-link .biz-name {
  color: #fff;
}

.explore-city_title {
  text-align: center;
  margin-bottom: 12px;
}

.u-text-truncate {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

h3 a.biz-name  {
  font-size: 16px;
  font-weight: 700;
}

.rating-qualifier {
  display: block;
  float: left;
  color: #666;
  font-weight: 400;
}

.ypassport .friend-count, .ypassport .ghost-user, .ypassport .photo-count, .ypassport .review-count {
  color: #666;
}

.clearfix::after, .clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.biz-rating-large {
  margin: 6px 0;
}

.island {
  padding: 11px;
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.island--light, .island-light {
  background: #fff;
}

.boy_title {
    text-align: center;
}

.boy_title, .list-island {
  margin-bottom: 12px;
}

.list-island ul>li:not(:last-child) {
  padding-bottom: 11px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 12px;
}

.list-island_item-title {
  margin-bottom: 0;
}

.list-island_item-category, .list-island_item-owner {
  color: #999;
}

.list-island_item-description {
  display: -webkit-box;
  height: 2.57143em;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
}

.layout-a .column-alpha, .layout-full .column-alpha {
  float: left;
  padding: 0 15px;
  min-height: 1px;
  box-sizing: border-box;
}

.layout-a .column-alpha {
  width: 66.66667%;
}

.layout-a .column-beta, .layout-h .column {
  float: left;
  padding: 0 15px;
  min-height: 1px;
  box-sizing: border-box;
}

.layout-a .column-beta {
  width: 33.33333%;
}

.layout-block {
    margin: 0 -15px;
}

/* footer */
.main-content-wrap {
    min-width: 1020px;
}

.main-content-wrap--separated {
    border-top: 1px solid #ccc;
}

.content-container {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-footer {
    padding: 36px 0 18px;
    font-size: 14px;
    line-height: 1.28571em;
    color: #666;
}

.main-footer_menu {
    margin-bottom: 36px;
}

.main-footer_item {
    float: left;
    padding: 0 15px;
    min-height: 1px;
    box-sizing: border-box;
    width: 25%;
}

.footer-menu_header {
    margin-bottom: 12px;
}

.footer-menu_item {
    margin-bottom: 6px;
}

.main-footer_city-landscape-img {
    background: url(../../images/footer_cityscape.png) no-repeat bottom;
    background-size: 660px 140px;
    margin: 42px auto 18px;
    height: 140px;
}

.main-footer_copyright {
    display: block;
    margin-top: 18px;
    text-align: center;
}

/* recent activity */

.u-space-t4 {
    margin-top: 24px!important;
}

.activity-feed_load-more {
    text-align: center;
    padding-top: 18px;
    margin-top: -12px;
    border-top: 1px solid #e6e6e6;
}

/* island review */

.activity-feed_item {
    margin-bottom: 30px;
}

.activity-feed_item--first-load {
    animation-duration: .3s;
    animation-name: append-item-fade-in;
}

.feed-item_header {
    padding-bottom: 11px;
    border-bottom: 1px solid #e6e6e6;
}

.feed-item_action {
    float: left;
    margin-right: 12px;
    margin-bottom: -2px;
}

.feed-item_scrollable-content {
    margin: -1px -11px 0;
}

.feed-item_body {
    padding-top: 12px;
}

.feed-item_scrollable-content>.feed-item_body {
    padding-right: 11px;
    padding-left: 11px;
}

.feed-item_title--bordered {
    padding-bottom: 11px;
    border-bottom: 1px solid #e6e6e6;
}

.u-space-b2 {
    margin-bottom: 12px!important;
}

.feed-item_review-content {
    margin-bottom: 0;
}

.u-break-word {
    word-wrap: break-word!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
}

.u-hidden {
    display: none!important;
}

.u-nowrap {
    white-space: nowrap!important;
}

.feed-item_footer {
    border-top: 1px solid #e6e6e6;
    margin-top: 12px;
    margin-bottom: -2px;
    padding-top: 8px;
    position: relative;
}

.ufc-action {
    float: left;
    margin-right: 12px;
}

.ufc-action_link {
    color: #999;
    display: block;
}

.show-tooltip {
    position: relative;
}

.ufc-action_link .show-tooltip {
    display: inline-block;
}

.feed-item_action-link {
    color: #999;
    display: block;
}

.show-tooltip {
    position: relative;
}

.feed-item_action-link .show-tooltip {
    display: inline-block;
}

.feed-item_action-link {
    color: #999;
    display: block;
}

/* photos island */

.feed-item_more {
    text-align: center;
    margin: 18px 0 0;
}

.feed-item_photos {
    margin: 0 -6px -6px;
}

.feed-item_photos--single {
    margin: 0 -11px -11px;
}

.feed-item_actions {
    border-top: 1px solid #e6e6e6;
    padding-top: 8px;
    margin-top: 12px;
    position: relative;
}

.feed-item_actions {
    border-top: 1px solid #e6e6e6;
    padding-top: 8px;
    margin-top: 12px;
    position: relative;
}

.feed-item_actions--contained-borderless {
    padding: 8px 6px;
    margin-top: 0;
    border-top-width: 0;
}

.feed-item_photos--single>.feed-item_actions {
    margin-top: 0;
}

.feed-item_actions:after, .feed-item_actions:before {
    content: " ";
    display: table;
}

.feed-item_actions:after {
    clear: both;
}

.feed-item_actions--contained {
    padding: 8px 6px;
    margin-top: 0;
    border: 1px solid #e6e6e6;
    border-top-width: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.feed-item_action-link {
    color: #999;
    display: block;
}

.feed-item_action-link .show-tooltip {
    display: inline-block;
}

.feed-item_action {
    float: left;
    margin-right: 12px;
    margin-bottom: -2px;
}

.feed-item_action-link {
    color: #999;
    display: block;
}

.feed-item_action-link .show-tooltip {
    display: inline-block;
}

.show-tooltip {
    position: relative;
}
/* photos island end */

/* column alpha and beta end */

.homepage-hero {
  padding-top: 30px;
  height: 570px;
  background-color: #333;
  background-size: cover;
  background-position: 50%;
  background-image: url('../../images/top_photo.jpg');
}

.nowrap {
  white-space: nowrap;
}

/* form */
.u-space-b0 {
  margin-bottom: 0 !important;
}

a.ybtn {
  text-decoration: none!important;
}

.ybtn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  border: 1px solid;
  font-weight: 700;
  text-align: center;
  user-select: none;
  font-size: 14px;
  line-height: 1.28571em;
  border-color: #ccc;
  color: #666;
  background-color: #f7f7f7;
  background: linear-gradient(#fff,#f7f7f7);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  padding: 8px 19px 9px;
  border-radius: 3px;
}

.ybtn--primary, .ybtn-primary {
  color: #fff;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  background-color: #d90007;
  background: linear-gradient(#d90007,#c91400);
}

.ybtn--primary, .ybtn-primary {
  color: #fff;
}

/* business link */


.hero_photo-owner-link {
    color: #fff;
}

/* first businesses */
.u-bg-color-alt {
    background-color: #f5f5f5!important;
}

.h4 b {
    color: #333;
}

/* mobile apps */
.app-pitch_item {
    display: block;
    padding: 30px;
}
