.y-container {
  background-color: #fff;
  min-width: 1020px;
}

.y-container_content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.homepage-hero {
  padding-top: 30px;
  height: 570px;
  background-color: #333;
  background-size: cover;
  background-position: 50%;
  background-image: url('../../images/top_photo.jpg');
}

.arrange--18 {
  margin-left: -18px;
  margin-right: -18px;
  border-collapse: separate;
  border-spacing: 18px 0;
}

.arrange {
  display: table;
  min-width: 100%;
  table-layout: auto;
}

.arrange--18>.arrange_unit, .ie .arrange--18.arrange--equal {
    border-collapse: collapse;
    border-spacing: 0 0;
}

.arrange--18>.arrange_unit {
    margin-left: 9px;
    margin-right: 9px;
}

.arrange_unit--fill {
    width: 100%;
}

.arrange_unit {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}


.header-nav {
    display: inline-block;
}

ol, ul {
    list-style: none;
}

.header-nav_item {
    display: inline-block;
    margin-right: 2px;
}

.header-nav_link {
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;
}

.hero-header_nav .header-nav_link {
    border-radius: 0;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
}

.hero-header_nav .header-nav_link, .hero-header_nav .header-nav_text {
    color: #fff;
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
}

.main-header_account, .main-header_nav-dropdown {
    float: right;
}

.hero-header_nav .header-nav_item {
    display: inline-block;
    margin-right: 2px;
}

.u-space-r2 {
    margin-right: 12px!important;
}

.u-space-r0 {
    margin-right: 0!important;
}

.header-nav_button, a.header-nav_button {
    background: transparent;
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid #fff;
    margin-top: -2px;
    padding: 7px 24px 8px;
}

a.ybtn {
    text-decoration: none!important;
}

.ybtn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    border: 1px solid;
    font-weight: 700;
    text-align: center;
    user-select: none;
    font-size: 14px;
    line-height: 1.28571em;
    border-color: #ccc;
    color: #666;
    background-color: #f7f7f7;
    background: linear-gradient(#fff,#f7f7f7);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding: 8px 19px 9px;
    border-radius: 3px;
}

.ybtn--primary, .ybtn-primary {
  color: #fff;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  background-color: #d90007;
  background: linear-gradient(#d90007,#c91400);
}

.homepage-hero_inner {
  padding-top: 80px;
}

.u-text-centered {
  text-align: center !important;
}

.homepage-hero_logo {
  background-image: url(../../images/yelp_logo.png);
  background-size: 160px 80px;
  width: 160px;
  height: 80px;
  padding: 0;
  margin: 0 auto 48px;
  background-repeat: no-repeat;
}

.homepage-hero_logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -1000em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
