.h4 {
  word-wrap: break-word!important;
  word-break: break-word!important;
  overflow-wrap: break-word!important;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.28571em;
  color: #333;
}

.browse-businesses_category--full-width-island {
  padding: 0;
  border: none;
  display: block;
}

.browse-businesses_category--full-width-island:hover {
  text-decoration: none;
  box-shadow: 0 6px 12px rgba(0,0,0,.1);
}

.browse-businesses_category--full-width-island .browse-businesses_category-img {
  width: auto;
  height: 174px;
  border-radius: 4px 4px 0 0;
}

.browse-businesses_category--full-width-island .browse-businesses_category-title {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 0 0 4px 4px;
}

.browse-businesses_category--full-width-island:hover .browse-businesses_category-title {
  color: #0073bb;
}

.card_photo {
  height: 180px;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.photo-box_link {
  display: block;
}

.photo-box--background > .photo-box_link > img, .photo-box--background > img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.photo-box .photo-box-img {
  border-radius: 4px;
}

.pb-30s .photo-box-img {
  margin-top: 3px;
}

.photo-box--background {
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-box--interactive {
  position: relative;
}

.list-island_item-avatar {
  width: 72px;
  height: 72px;
  border-radius: 4px;
  overflow: hidden;
}

.feed-item_photo {
  height: 132px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.feed-item_photos--single > .feed-item_photo {
  border-radius: 0;
  border: 0;
  height: 300px;
}

.feed-item_photo  >.feed-item_link > img, .feed-item_photo > img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.feed-item_photo--big {
  height: 150px;
}

.feed-item_photo--with-actions {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.feed-item_link {
  display: block;
  height: 100%;
}

.feed-item_hero {
  margin: -1px -11px 0;
  height: 115px;
}

.feed-item_scrollable-content > .feed-item_hero {
  margin: 0;
}
