.location-bar {
    border-bottom: 1px solid #ccc;
}

.tab-nav {
    display: table;
    margin: 0 0 -1px;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

.tab-nav_item {
    display: table-cell;
    vertical-align: middle;
}

.tab-nav--center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tab-link {
    display: block;
    vertical-align: bottom;
    line-height: 1;
    white-space: nowrap;
    outline: 0;
}

.tab-link--nav {
    color: #666;
    padding: 0 12px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.tab-link--nav .tab-link_label {
    line-height: 30px;
}

.tab-link_label {
    display: inline-block;
}

.tab-link_label:before {
    display: block;
    font-weight: 700;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    content: attr(title);
}
